.slds-dropdown_submenu_left {
  margin-top: -26px;
  margin-left: -90px;
}
.slds-dropdown_submenu_right {
  left: 100%;
  margin-left: -0.75rem;
  margin-top: -30px;
}

.item-padding {
  display: inline;
  padding-left: 6px;
}

.slds_dropdown {
    position: absolute;
    z-index: 7000;
    /* min-width: 6rem;
    max-width: 20rem; */
    /* margin-top: .125rem;
    margin-bottom: .125rem; */
    border: 1px solid #dddbda;
    border-radius: .25rem;
    padding: .25rem 0;
    font-size: .75rem;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
    /* transform: translateX(-50%); */
}